html, body {
  font-family: Arial, sans-serif;
  margin: 2em;
  background: var(--bg);
  color: var(--text);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1, h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.3em 0;
}

a.button {
  display: block;
  text-align: center;
  padding: 0.7em;
  background-color: #fba6af;
  color: #007acc;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.2s;
}

a.button:hover {
  background-color: #005fa3;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 300px;
}

img {
  border-radius: 10px;
}
small {
  color: #666;
}



/* body
{
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: var(--bg);
  color: var(--text);
  justify-content: center;
  align-items: center;
}

div
{
  top: 50px;
  text-align: center;
}

h1
{
  color: #2c3e50;
  margin-bottom: 1rem;
}

a
{
  color: #0077cc;
  text-decoration: none;
  margin: 0 0.5rem;
}

a:hover
{
  text-decoration: underline;
} */